<div class="container">
  <h1>Welcome to JavaScript Racer!</h1>
<table class="racer_table">
  <tr id="player1_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player2_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<br>
<br>
<button type='button' id='start_button'> Start </button>
<button type='button' id='reset_button'> Reset </button>
<button type='button' id='stats_button'> Stats </button>
<input type="hidden" id="hidden_game_id" value="<%= @current_game.id %>">

<br>


<table class='winning'>
  <tr>
  <td id='name1'><%= @player1.name %>: </td>
  <td id='player1_win'></td>
</tr>
<tr>
<td id='name2'><%= @player2.name %>: </td>
<td id ='player2_win'></td>
</tr>

</table>
</div>
