<div class="container">
    <h1>Ready to Play?</h1>

    <form action="/creategame" method="POST">
        <p>Player 1: <input type="text" name="player1"></p>
        <p>Player 2: <input type="text" name="player2"></p>
        <input type="submit" value="Play Game">
    </form>
</div>